<div class="container">
<br/>
<h3>Create a new plant tip</h3>
<br/>
<%= form_with model: @plant, url: plantings_path do |form| %>
    <%= render "shared/form_errors", form: form %>
<div class="mb-3">
    <%= form.label "Plant tip title:" %>
    <%= form.text_field :title, class: "form-control" %>
</div>

<div class="mb-3">
    <%= form.label "Image URL:" %>
    <%= form.url_field :image, class: "form-control" %>
</div>

<div class="mb-3">
    <%= form.label "What do we need to know:" %>
    <%= form.text_area :description, class: "form-control" %>
</div>


<div class="mb-3">
<%= form.submit "Submit", class: "btn btn-info" %>
</div>

<% end %>

<br/>
<%= link_to "Go back", dashboard_path %>
</div>